GCP.txt
part1/1.02/node_modules
part1/1.04/node_modules
part1/1.05/node_modules
part1/1.06/node_modules
part1/1.07/node_modules
part1/1.08/node_modules
part1/1.10/node_modules
part1/1.12-1.13/node_modules
part2/2.01/reader_revised/node_modules
part2/2.02/backend/node_modules
part2/2.02/frontend/node_modules
part2/2.06/reader_revised/node_modules
part2/2.07/backend/node_modules
part2/2.07/frontend/node_modules
part2/2.09/wiki/node_modules
part2/2.10/backend/node_modules
part2/2.02/frontend/node_modules
part2/secrets
part2/kubeseal
part3/3.02/pingpong/frontend/node_modules
part3/3.02/random/node_modules

