<html>
<head> 
<title> Pingpong App </title>
<!-- 
 <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
 <link href="/public/styles.css" rel="stylesheet">
-->
</head>

<body>
<!--
<div class="container">
-->

<h2> Go to URL /pingpong to see the number of 'pongs' !  </h2>

</div>

</body>
</html>
